.github
**/.DS_Store
**/__pycache__
*.md
.idea
.git/
*.pyc
.tox
*.egg-info
doc
charts
examples
releasenotes
swagger
tools
.editorconfig
.gitreview
.gitignore
.stestr.conf
.zuul.yaml
CODE_OF_CONDUCT.rst
ChangeLog
.docker/Dockerfile
LICENSE
Makefile
test-requirements.txt
tox.ini
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
etc/*.sample
etc/hostname
etc/hosts
etc/resolv.conf
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.stestr
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
cover
.hypothesis/
*.mo
*.pot
*.log
local_settings.py
instance/
.webassets-cache
.scrapy
doc/build/
doc/source/_static
target/
.ipynb_checkpoints
.python-version
celerybeat-schedule
venv/
ENV/
.spyderproject
.ropeproject
*.lock
*/*.lock
*.tgz
**/*.tgz
**/_partials.tpl
**/_globals.tpl
.DS_STORE
.idea/
.vscode/
